<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |form| %>
  <div class="form-inputs">
    <%= form.input :comment %>
  </div>

  <div class="form-inputs">
    <%= form.association :movie, collection: Movie.all, label: 'Select a movie', include_blank: 'Select a movie' %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, 'Create Bookmark' %>
  </div>
<% end %>

<%= link_to 'Back', lists_path %>
